header {
   justify-content: center;
   text-align: center;
 }
 body {
   padding-bottom: 5rem;
 }
 main {
   max-width: 900px;
   justify-content: center;
 }
.demo-list-item {
  width: 300px;
  padding: 3rem; 
}
